@* <form method="post" asp-action="Create" style="margin-top: 10px;"> *@
    <div class="row">
        <div class="col col-45">
            <label class="label-style">Name:</label>
            <input class="input-style person-name" type="text" placeholder="Enter the name..." />
        </div>
        <div class="col col-45">
            <label class="label-style">Surname:</label>
            <input class="input-style person-surname" type="text" placeholder="Enter the surname..." />
        </div>
    </div>
    <div class="row">
        <div class="col col-45">
            <label class="label-style">Age:</label>
            <input class="input-style person-age" type="number" min="0" max="100" placeholder="Enter the age..." value="0" />
        </div>
        <div class="col col-45">
            <label class="label-style">Profession:</label>
            <input class="input-style person-profession" type="text" placeholder="Enter the profession..." />
        </div>
    </div>
    <div class="row">
        <div class="col col-45">
            <button class="btn-style jsBtn" style="background-color:darkorange;">Send using JS</button>
        </div>
        <div class="col col-45">
            <button class="btn-style" style="background-color:lightskyblue;">Send using ASP.NET</button>
        </div>
    </div>
@* </form> *@

<div>
    <table id="mainTable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Profession</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <hr />
</div>


@section Scripts {
    <script>
        var sendJsBtn = document.querySelector(".jsBtn");
        sendJsBtn.addEventListener("click", function (event) {
            var name = document.querySelector(".person-name").value.trim();
            var surname = document.querySelector(".person-surname").value.trim();
            if (!name || !surname) 
            {
                alert("Name and surname are required.");
                return;
            }

            var age = document.querySelector(".person-age").value;
            if (age < 0 || age > 100) 
            {
                alert("The age must be between 0 and 100.");
                return;
            }

            var profession = document.querySelector(".person-profession").value;
            if(!profession)
            {
                profession = "-";
            }

            var table = document.getElementById("mainTable").getElementsByTagName("tbody")[0];
            table.innerHTML += "<tr>" +
                "<td>" + name + "</td>" +
                "<td>" + surname + "</td>" +
                "<td>" + age + "</td>" +
                "<td>" + profession + "</td>" +
                "</tr>";

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Home/Create", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function(){
                if (this.readyState == 4 && this.status == 200) {
                    console.log(xhr.responseText);
                }
            }
            var data = JSON.stringify({
                Name: name,
                Surname: surname,
                Age: age,
                Profession: profession
            });
            xhr.send(data);
        });
    </script>
}