<form method="post" asp-action="Create" style="margin-top: 10px;">
    <div class="row">
        <div class="col col-45">
            <label class="label-style">Name:</label>
            <input class="input-style" type="text" placeholder="Enter the name..." required />
        </div>
        <div class="col col-45">
            <label class="label-style">Surname:</label>
            <input class="input-style" type="text" placeholder="Enter the surname..." required />
        </div>
    </div>
    <div class="row">
        <div class="col col-45">
            <label class="label-style">Age:</label>
            <input class="input-style" type="number" min="0" max="100" placeholder="Enter the age..." value="0" />
        </div>
        <div class="col col-45">
            <label class="label-style">Profession:</label>
            <input class="input-style" type="text" placeholder="Enter the profession..." />
        </div>
    </div>
</form>