<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Test Task is here!" />
    <meta name="keywords" content="HTML, CSS, JS, ASP.NET, MVC" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TestTask_MvcApp</title>
    <style>
        *{
            padding: 0;
            margin: 0; 
        }
        body{
            font-family: monospace;
        }
        header{
            margin: 10px 0px;
        }

        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        .text-center{
            text-align: center;
        }
        .label-style{
            font-size: 24px;
            font-weight: bold;     
        }
        .input-style{
            padding: 4px;
            font-size: 20px;
            height: 24px;
        }
        .row{
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
        }
        .col{
            display: flex;
            flex-direction: column;
        }
        .col-45{
            width: 45%;
        }
        .btn-style{
            font-size: 24px;
            font-weight: bold;
            padding: 5px;
            margin-top: 5px;
            border: 1px solid black;
            border-radius: 5px;
        }
        .btn-style:hover{
            opacity: 0.8;
        }

        .table{
            margin: 40px 0px 10px 0px;
            width: 100%;
            border-collapse: collapse;
        }
        .table>thead th{
            font-size: 18px;
            padding: 10px;
            margin: 0;
            border: 1px solid black;
            background-color:antiquewhite;
        }
        .table>tbody td{
            font-size: 16px;
            padding: 10px;
            margin: 0;
            border: 1px solid black;
            background-color:azure;
            text-align: center;
        }
    </style>
</head>
<body>
    <header class="container">
        <h1 class="text-center">Test Task Webpage</h1>
    </header>

    <div class="container">
        <hr />
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
